@{
    ViewData["Title"] = "Home Page";    
}

<br />
<br />

<form class="form-horizontal" role="form">
    @foreach (Zone zone in (List<Zone>)ViewData["Zones"])
    {
        <div class="form-group">
            <label for="@zone.Name-control" class="col-md-4 control-label">@zone.Name:</label>
            <div class="col-md-4">
                <input id="@zone.Name-control" class="form-control" type="text" placeholder="@(zone.Timestamp > DateTime.Now.AddMinutes(-5) ? zone.Temperature.ToString() : "")" readonly>
            </div>
        </div>
    }
    <div class="form-group">
        <label class="col-md-4 control-label">Heating:</label>
        <div class="col-md-4">
            <p class="form-control-static">@ViewData["HeatingStatus"]</p>
        </div>
    </div>
</form>
